html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0 5%;
    background-image: #000000;
    background-image: url('../assets/images/cinema-min.jpg');
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin: 2.6em 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    max-width: 900px;
    border: 0;
    margin: 4em auto 0;
    border-radius: 0.8em 0.8em 0 0;
    padding: 3em 3.5em;
    background-color: rgba(255, 255, 255, 0.93);
}

h1 {
    margin: 0.86em 0;
    font-size: 2.02em;
    font-weight: bold;
}

h2 {
    margin: 0.8em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

article p {
    margin: 1.2em 2em;
    text-indent: 2em;
    line-height: 1.5em;
}

small {
    font-size: 0.64em;
    letter-spacing: 0;
}

del {
    display: none;
}

hr {
    border: 1px 0 dashed #000;
    margin: 2em auto;
    height: 0;
    width: 80%;
}

ol li {
    margin: 1.2em 0;
}

ol p {
    margin: 0.6em 2em 0.6em 0.5em;
}

ol p:nth-of-type(1) {
    text-indent: 0;
}

ol.reasons {
    padding: 0 6em;
}

ol.reasons li {
    margin: 0.4em 0;
}

.title {
    margin: 1.6em auto 0.4em;
    font-size: 3.6em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.15em;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

.authors, .teacher {
    margin: 0.8em auto 0.1em;
    font-size: 1.12em;
    color: #e0e0e0;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}

img.index-compare {
    display: block;
    width: 500px;
    margin: 0.5em auto;
    text-align: center;
}

iframe {
    margin: 1.5em auto;
}

.chart {
    margin: 1em auto;
}

#schedule-provinces {
    width: 600px;
    height: 480px;
}

#trends-of-yuanfen {
    width: 80%;
    height: 350px;
}

.conclusion-reasons {
    width: 600px;
    margin: 1.2em auto;
    overflow: auto;
}

#reasons {
    width: 320px;
    height: 320px;
    float: right;
    margin: 0 0.5em;
}

.conclusion-reasons p {
    margin: 0.5em 0.5em;

}
